<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Oxxe Montei </title>
   <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700"
      rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

 <nav>
      <img
        src="images/logo.jpg"
      />
      <span><a href="#"><strong>INICIO</strong></a></span>
      <span><a href="/contato"><strong>CONTATO</strong></a></span>
      <span><a href="#"><strong>LOCALIZAÇÃO</a></strong></span>
      <span><a href="login"><strong>Login</strong></a></span>
    </nav>

    <!-- Content Section -->

    <div class="content">
      <!-- Content Header -->

      <div class="header">
        <h1>Oxxe Montei Hamburgueria</h1>
      </div>

      <!-- Content Body -->

      <div class="body">
        <p>
          <strong>Oxxe! Vem timbora abestado, tá esperando o que pra echer esse bucho com um hambúrguer arretado de bom
          desse? Deixa da tua resenha e vem experimentar esse hambúrguer que se brincar, é melhor do que cuscuz!!!</strong>
        </p>

        <!-- Order Button -->

        <a href="/login" class="button">Pede logo aí!</a>
      </div>
    </div>
</body>
</html>