
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/cadastroUsuario.css"/>
<title>Oxxe Montei</title>
</head>
<body>
	<div class="login-box">

<form th:action="@{/addFuncionario}" method="post" id="login" th:object="${usuario}">
    <div class="user-box">
    <input type="hidden" name="id_usuario" th:value="${usuario.id_usuario}"/>
      <input type="text"  name="nome" th:field="${usuario.nome}" />
      <label>Nome</label>
    </div>
    <div class="user-box">
      <input type="text"  name="cpf" th:field="${usuario.cpf}" />
      <label>Cpf</label>
    </div>
    <div class="user-box">
      <input type="text"  name="endereco" th:field="${usuario.endereco}" />
      <label>Endereço</label>
    </div>
    <div class="user-box">
      <input type="text"  name="telefone" th:field="${usuario.telefone}"/>
      <label>Telefone</label>
    </div>
    <div class="user-box">
      <input type="text"  name="email" th:field="${usuario.email}"/>
      <label>Email</label>
    </div>

    <div class="user-box">
      <input type="password" name="senha" th:field="${usuario.senha}"/>
      <label>Senha</label>
    </div>
    <a type="submit" onClick="document.getElementById('login').submit();">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Salvar
    </a>
  </form>
  
</div>
</body>
</html>