<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

<table>
<tr>
<td>nome</td>
<td>senha</td>
</tr>
<tr th:each="usuario:${lista}">
<td th:text="${usuario.id_usuario}"></td>
<td th:text="${usuario.nome}"></td>
<td th:text="${usuario.senha}"></td>
<td><a th:href="@{/editarUsuario(id=${usuario.id_usuario})}">Editar</a>&nbsp;&nbsp; </td>
<td><a th:href="@{/excluirUsuario(id=${usuario.id_usuario})}">Excluir Usuário</a>&nbsp;&nbsp; </td>

</tr>
</table>
</body>
</html>