<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/login.css" />
<title>Oxxe Montei</title>
</head>
<body>
 <div class="login-box">
  <h2>Login</h2>
  <h4 style="color:red" th:text="${mensagem}"></h4>
  <h4 style="color:green" th:text="${menssagem2}"></h4>
  <form th:action="@{/login}" id="login" method="post" th:object="${usuario}">

    <div class="user-box">
      <input type="text"  name="email"  maxlength="40" required />
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" name="senha" maxlength="30"  required/>
      <label>Senha</label>
    </div>
    <a  onClick="document.getElementById('login').submit();">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Logar
    </a>
    <a  href="/cadastro">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Cadastrar
    </a>
  </form>
  
</div>
</body>
</html>