body {
	margin: 0;
	padding: 0;
	background-image: url("img/TEKLA-INICIAL-OXXE-MONTEI.png");
	background-size: cover;
	font-family: 'Cairo', sans-serif;
}

.login {
	width: 320px;
	height: 420px;
	border: 2px solid #000;
	border-radius: 80px 0px 80px 0px;
	color: #fff;
	background-color: rgba(0, 0, 5, 0.8);
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box padding 68px;
}

.usuario {
	border-radius: 50%;
	position: absolute;
}